<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="versions" value="3.16.5"/>
    <add key="ftpUrl" value="43.138.155.217:21"/>
    <add key="isDetectionVersions" value="0"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
